<nav class="ddr-subnav">
    <div class="container">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Unclickable</li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </div>
    </div>
</nav>

<div class="container">

    <div class="ddr-page-header d-flex">
        <h1 class="ddr-content">Temporibus autem quibusdam et aut officiis</h1>
        <div class="ddr-actions">
            <button type="button" class="btn btn-link btn-lg ddr-btn-icon"><span class="fas fa-fw fa-ellipsis-v"></span>
            </button>
            <button type="button" class="btn btn-primary btn-lg ddr-btn-icon"><span class="fas fa-fw fa-pen"></span>
            </button>
        </div>
    </div>

    <p class="lead">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

    <div class="row">
        <div class="col-md">
            <section class="ddr-section">
                <div class="ddr-section-header d-flex">
                    <h2 class="ddr-content">Nam libero tempore</h2>
                    <div class="ddr-actions">
                        <button type="button" class="btn btn-link ddr-btn-icon">
                            <span class="fas fa-fw fa-plus"></span>
                        </button>
                    </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item ddr-action-container">
                        <div class="ddr-content">
                            Cras justo odio
                        </div>
                        <div class="ddr-actions">
                            <button class="btn btn-primary ddr-btn-icon">
                                <span class="fas fa-trash-alt fa-fw"></span>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </section>
        </div>
        <div class="col-md">
            <section class="ddr-section">
                <div class="ddr-section-header">
                    <h2>Et harum quidem rerum facilis</h2>
                </div>
            </section>
        </div>
    </div>
</div>
