$primary: #1E88E5;

//$blue:    #2196F3 !default;
//$indigo:  #3F51B5 !default;
//$purple:  #9C27B0 !default;
//$pink:    #E91E63 !default;
//$red:     #F44336 !default;
//$orange:  #FF9800 !default;
//$yellow:  #FFEB3B !default;
//$green:   #4CAF50 !default;
//$teal:    #009688 !default;
//$cyan:    #00BCD4 !default;

$link-color: #0D47A1;

$enable-gradients: false !default;
$enable-shadows: true !default;

//$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-family-sans-serif: "Roboto", sans-serif !default;
//$headings-font-family: "Roboto-Slab", sans-serif !default;
$headings-font-weight: 500 !default;

$border-radius: .125rem !default;
$border-radius-lg: .25rem !default;
$border-radius-sm: .0625rem !default;

$h1-font-size: 2.1rem !default;
$h2-font-size: 1.65rem !default;
$h3-font-size: 1.33rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 1rem !default;

$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0.5rem;
$breadcrumb-bg: transparent;

$pagination-padding-y-lg: 0.5rem !default;
$pagination-padding-x-lg: 1.2rem !default;
//$pagination-border-color: transparent;
//$pagination-active-bg: none;
//$pagination-active-border-color: #007bff;
//$pagination-active-color: black;

$btn-disabled-opacity: 0.5 !default;

@import '~roboto-fontface/css/roboto/sass/roboto-fontface';
@import '~roboto-fontface/css/roboto-slab/sass/roboto-slab-fontface';
@import '~bootstrap/scss/bootstrap';
@import 'ddr_mixins';

html {
    font-size: 14px;
}

body {
    padding-top: 50px;
}

.ddr-subnav {

    border-bottom: solid 1px $gray-300;

    .breadcrumb {
        margin-bottom: 0;
    }
}

// Deprecated: d-flex is just fine
.ddr-action-container {
    display: flex;
    flex-direction: row;
}

.ddr-content {
    @extend .flex-fill;
    @extend .align-self-center;
}

.ddr-actions {

    @extend .d-inline-flex;
    @extend .align-self-center;

    .pagination {
        margin-bottom: 0;
    }
}

.breadcrumb-item {
    color: $breadcrumb-active-color;
}

.ddr-page-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px $gray-300;
}

div.ddr-page-header {

    h1 {
        font-weight: 700;
        margin-bottom: 0;
    }

    .pagination {
        margin-bottom: 0;
    }
}

h1.ddr-page-header {
    font-weight: 700;
}

.ddr-section {
    margin-bottom: 2rem;
}

.ddr-section-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px $gray-200;
}

.section-header, div.ddr-section-header {

    h2 {
        margin-bottom: 0;
    }
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    font-weight: $headings-font-weight;
}

.navbar-light {
    border-bottom: solid 1px $gray-300;

    .navbar-brand {
        color: $navbar-light-color;
    }
}

.navbar.scrolled {
    @include box-shadow(0 1px 5px rgba(0, 0, 0, .075));
}

.btn.ddr-btn-icon {
    padding: 0.375rem 0.5rem;
}

.btn.btn-lg.ddr-btn-icon {
    padding: 0.5rem 0.75rem;
}

.dropdown-toggle.ddr-no-caret {
    &:after {
        content: none;
    }
}

form label {

    &.required {

        &:after {
            color: red;
            content: " *";
        }
    }
}

/**
 * Cards
 */
.card {
    @extend .shadow-sm;
}

.card-header {
    @include gradient-bg($card-cap-bg);
}

.ddr-card-header-plain {
    border-bottom: none;
    background: transparent;
}

.ddr-card-footer-plain {
    border-top: none;
    background: transparent;
}
