<div class="page-header">
    <h1>Alerts</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a
                pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel
                    scelerisque nisl consectetur et</a>.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try
            submitting again.
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important
            alert message</a>.
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>,
            but it's not super important.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try
            submitting again.
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-dismissible alert-secondary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important
            alert message</a>.
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-dismissible alert-light">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>,
            but it's not super important.
        </div>
    </div>
</div>
