<div class="ddr-page-header">
    <h1>Breadcrumbs</h1>
</div>

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Library</li>
</ol>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active">Data</li>
</ol>
