<div class="ddr-page-header">
    <h1>Buttons</h1>
</div>

<div class="row">
    <div class="col-lg-7">

        <section class="ddr-section">
            <h2 class="ddr-section-header">Default</h2>
            <button type="button" class="btn btn-primary mr-1">Primary</button>
            <button type="button" class="btn btn-secondary mr-1">Secondary</button>
            <button type="button" class="btn btn-success mr-1">Success</button>
            <button type="button" class="btn btn-info mr-1">Info</button>
            <button type="button" class="btn btn-warning mr-1">Warning</button>
            <button type="button" class="btn btn-danger mr-1">Danger</button>
            <button type="button" class="btn btn-link mr-1">Link</button>
        </section>

        <section class="ddr-section">
            <h2 class="ddr-section-header">Default disabled</h2>
            <button type="button" class="btn btn-primary disabled mr-1">Primary</button>
            <button type="button" class="btn btn-secondary disabled mr-1">Secondary</button>
            <button type="button" class="btn btn-success disabled mr-1">Success</button>
            <button type="button" class="btn btn-info disabled mr-1">Info</button>
            <button type="button" class="btn btn-warning disabled mr-1">Warning</button>
            <button type="button" class="btn btn-danger disabled mr-1">Danger</button>
            <button type="button" class="btn btn-link disabled mr-1">Link</button>
        </section>

        <section class="ddr-section">
            <h2 class="ddr-section-header">Outline</h2>
            <button type="button" class="btn btn-outline-primary mr-1">Primary</button>
            <button type="button" class="btn btn-outline-secondary mr-1">Secondary</button>
            <button type="button" class="btn btn-outline-success mr-1">Success</button>
            <button type="button" class="btn btn-outline-info mr-1">Info</button>
            <button type="button" class="btn btn-outline-warning mr-1">Warning</button>
            <button type="button" class="btn btn-outline-danger mr-1">Danger</button>
        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Outline disabled</h2>

            <button type="button" class="btn btn-outline-primary disabled mr-1">Primary</button>
            <button type="button" class="btn btn-outline-secondary disabled mr-1">Secondary</button>
            <button type="button" class="btn btn-outline-success disabled mr-1">Success</button>
            <button type="button" class="btn btn-outline-info disabled mr-1">Info</button>
            <button type="button" class="btn btn-outline-warning disabled mr-1">Warning</button>
            <button type="button" class="btn btn-outline-danger disabled mr-1">Danger</button>
        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Split</h2>

            <div class="btn-group mr-1" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary">Primary</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>

            <div class="btn-group mr-1" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-success">Success</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>

            <div class="btn-group mr-1" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-info">Info</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>

            <div class="btn-group mr-1" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-danger">Danger</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Sizes</h2>

            <button type="button" class="btn btn-primary btn-lg mr-1">Large button</button>
            <button type="button" class="btn btn-primary mr-1">Default button</button>
            <button type="button" class="btn btn-primary btn-sm mr-1">Small button</button>

        </section>

    </div>
    <div class="col-lg-5">

        <section class="ddr-section">
            <h2 class="ddr-section-header">Block</h2>
            <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Toggle</h2>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox" checked autocomplete="off"> Active
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Check
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Check
                </label>
            </div>

        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Radio Toggle</h2>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                </label>
            </div>

        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Button Group Vertical</h2>

            <div class="btn-group-vertical" data-toggle="buttons">
                <button type="button" class="btn btn-primary">Button</button>
                <button type="button" class="btn btn-primary">Button</button>
                <button type="button" class="btn btn-primary">Button</button>
                <button type="button" class="btn btn-primary">Button</button>
                <button type="button" class="btn btn-primary">Button</button>
                <button type="button" class="btn btn-primary">Button</button>
            </div>
        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Button Group</h2>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
        </section>

        <section class="ddr-section">

            <h2 class="ddr-section-header">Button Toolbar</h2>

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">1</button>
                    <button type="button" class="btn btn-secondary">2</button>
                    <button type="button" class="btn btn-secondary">3</button>
                    <button type="button" class="btn btn-secondary">4</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary">5</button>
                    <button type="button" class="btn btn-secondary">6</button>
                    <button type="button" class="btn btn-secondary">7</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-secondary">8</button>
                </div>
            </div>
        </section>

    </div>
</div>
