<h1 class="ddr-page-header">Just a heading</h1>

<div class="ddr-page-header d-flex">
    <h1 class="ddr-content">A page header with dropdown</h1>
    <div class="ddr-actions">
        <button type="button" class="btn btn-link btn-lg ddr-btn-icon">
            <span class="fas fa-fw fa-ellipsis-v"></span>
        </button>
    </div>
</div>

<div class="ddr-page-header d-flex flex-column flex-md-row">
    <div class="flex-md-fill align-self-center">
        <h1>A page header with pagination</h1>
    </div>
    <div class="align-self-center">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<div class="ddr-page-header">
    <div class="d-flex">
        <h1 class="ddr-content">A page header with button and lead</h1>
        <div class="ddr-actions">
            <button type="button" class="btn btn-primary btn-lg ddr-btn-icon">
                <span class="fas fa-fw fa-pen"></span>
            </button>
        </div>
    </div>
    <div class="lead">
        Lorem ipsum
    </div>
</div>

<div class="ddr-page-header">
    <div class="ddr-action-container">
        <div class="ddr-content">
            <h1 class="pb-2">Heading 1</h1>
            <h2 class="text-muted">Heading 2</h2>
        </div>
        <div class="ddr-actions">
            <button type="button" class="btn btn-primary btn-lg ddr-btn-icon"><span class="fas fa-fw fa-pen"></span>
            </button>
        </div>
    </div>
</div>
