<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">dontdrinkandroot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="componentsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Components
                    </a>
                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">
                        <a class="dropdown-item" [routerLink]="['/components','alerts']">Alerts</a>
                        <a class="dropdown-item" [routerLink]="['/components','breadcrumb']">Breadcrumb</a>
                        <a class="dropdown-item" [routerLink]="['/components','buttons']">Buttons</a>
                        <a class="dropdown-item" [routerLink]="['/components','card']">Card</a>
                        <a class="dropdown-item" [routerLink]="['/components','forms']">Forms</a>
                        <a class="dropdown-item" [routerLink]="['/components','navs']">Navs</a>
                        <a class="dropdown-item" [routerLink]="['/components','page-header']">Page Header</a>
                        <a class="dropdown-item" [routerLink]="['/components','pagination']">Pagination</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="layoutDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Layout
                    </a>
                    <div class="dropdown-menu" aria-labelledby="layoutDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="additionsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="additionsDropdown">
                        <a class="dropdown-item" [routerLink]="['/pages', 'default']">Default</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
